# id . class 


.espaco{
	width: 15%;
	float: left;
}

#primeiro{
	float: left;
	margin-left: 15%;
}

#logo{
	width: 20%;
	margin-left: 40%;
}
.menu{
	float: left;
	background-color:;
	width: 14%;
}
.both{
	clear: both;
}

.colunaum{
	float: left;
	width: 23%;
	margin: 1%;
	background-color: #34A7CC;
}

.colunadois{
	float: left;
	width: 23%;
	margin: 1%;
	background-color: #34A7CC;
}

#tt{
	width: 10%;
}
#ff{
	width: 10%;
	margin-left: 40%;
}
.parceiros{
	float: left;
	width: 13%;
	border:3%;
	margin-left: 1%;

}
.diminuir{
	width: 50%
}
#lado{
	margin-left: 30%;
}
.botoes{
	margin-right: 5%;
	float: left;
	border: 1px solid #000000;
}
#margem{
	margin-left: 40%;
}
.paragrafo{
	margin-left: 5%;
}
.instagram{

	float: left;
	width: 25%;
	border: 2%; 
}
.flut{
	float: left;
}
.sobre{
	width: 30%;
	margin-left: 20%;
	border: 1px solid#000000;
}
#fato2{
	margin-left: 50%;
}
#fato4{
	margin-left: 50%;
}
#sis{
	float: left;
	width: 18%;
	margin-left: 5%;
}
#www{
	width: 40%;
}
.midias{
	width: 8%;
}
.porcento{
	margin-left: 5%;
}
#imgum{
	margin-left: 5%;
}
.imgs{
width: 90%;
}
.projetos{
	width: 100%;
}
#mmm{
	margin-left: 5%;
	width: 50%;
}
#nnn{
	margin-left: 5%;
	width: 50%;
}
#ooo{
	margin-left: 5%;
	width: 50%;
}
#ppp{
	margin-left: 5%;
	float: right;
	width: 20%;
	margin-right: 5%;
}
#qqq{

	width: 50%;
	margin-left: 5%;
	border: 1px solid#000000;
}
#portfolio{
	margin-left: 5%;
}
.port{
	background-color: #34A7CC;
	border: 1%;
	width: 14%;
}
#portum{
	margin-left: 5%;
}
#portdois{
	margin-right: 5%;
}
.collab{
	margin: 1%;
	border: 1px solid#000000;
	float: left;
	width: 20%;
}
#colamais{
	margin-left: 5%;
}
#colamenos{
	margin-right: 5%;
}
#colaboradores{
	margin-left: 5%;
}
.lll{
	float: left;
	margin-left: 5%;
	width: 20%;
}
.ttt{
	margin-left: 5%;
	float: left;
	width: 70%;
}
#dudu{
	float: left;
	width: 20%;
}
.galum{
	float: left;
	margin: 2%;
}
#galpp{
	margin-left: 14%;
	width: 25%;
}
#galii{
	width: 20%;
}
#galkin{
	margin-right: 5%;
}
.galois{
	float: left;
}
#galog{
	width: 30%;
}
#galsss{
	width: 20%
}
#galm{
	width:10%;
}
#galper{
	margin-left: 5%;
	width: 30%;
}
.gales{

}
#amem{
	margin-left: 39%;
}